.card-slider{
    margin-top: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 12px !important;
    display: table;
    padding-left:10px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
}
.card-slider p {
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.card-product{
    width:100% !important;
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-product img{
    background-position: center top !important; 
    width:100% !important;
    height: 250px;
    padding: 0 !important;
    object-fit: fill;
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-title-produk{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size:14px !important;
}
.card-title-produk-resize{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size:12px !important;
}
.height-title{
    height: 40px;
}
.row-no-padding > [class*="col-"] {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.row-no-padding2 > [class*="col-"] {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.btn-main {
    font-family: 'Nunito Sans', sans-serif !important;
    width: auto;
    height: 35px;
    background-color: #158422;
    color: #fff;
    border-radius: 12px !important;
    line-height: 1.3;
}
.btn-main:hover {
    width: auto;
    height: 35px;
    background-color: #0c5415;
    color: #fff;
    border-radius: 12px;
    line-height: 1.3;
}
.btn-outline-main {
    font-family: 'Nunito Sans', sans-serif !important;
    width: auto;
    height: 35px;
    background-color: transparent;
    color: #158422;
    border: 1px solid #158422;
    border-radius: 12px !important;
    line-height: 1.3;
}
.btn-outline-main:hover {
    width: auto;
    height: 35px;
    background-color: #158422;
    color: #fff;
    border-radius: 12px;
    line-height: 1.3;
}.list-autocomplete {

     padding:10px; 
}
.list-autocomplete .dropdown-item{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}
.dropdown-menu .bla{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}
.list-autocomplete em { font-style:normal; background-color:#e1f2f9; }

.hasNoResults { color:#aaa; }
.hasNoResults { display:block; padding:30px 15px; }
.hasNoResults {  color:#aaa; }

.dropdown-menu { padding:0; }
.dropdown-item { line-height:10px; }
.dropdown-menu hr { margin:0; }

.dropdown {

}
.dropdown .jAuto{
    font-family: 'Nunito Sans', sans-serif !important;
    height: 35px;
    font-size: 14px;
    border-left: none;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
}
.dropdown .input-group-text{
    border-right: none;
    background: transparent;
    height: 35px;
    font-size: 12px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}


