.card-slider{
    margin-top: 20px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 12px !important;
    display: table;
    padding-left:10px !important;
    padding-right:10px !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
}
.card-slider p {
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.card-slider i {
    color: #0c5415;
}
.card-product{
    width:100% !important;
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-product img{
    background-position: center top !important; 
    width:100% !important;
    height: 250px;
    padding: 0 !important;
    object-fit: fill;
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-title-produk{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size:14px !important;
}
.card-title-produk-resize{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size:12px !important;
}
.height-title{
    height: 50px;
}
.row-no-padding > [class*="col-"] {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.row-no-padding2 > [class*="col-"] {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.btn-default {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700;
    font-size: 14px;
    width: auto;
    height: 40px;
    background-color: #7a7a7a;
    color: #fff;
    line-height: 1.5;
}
.btn-default:hover {
    background-color: #7a7a7a;
    color: #fff;
}
.btn-outline-default {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 700;
    font-size: 14px;
    width: auto;
    height: 40px;
    background-color: transparent;
    color: #7a7a7a;
    border: 1px solid #7a7a7a;
    line-height: 1.5;
}
.btn-outline-default:hover {
    background-color: #7a7a7a;
    color: #fff;
}
.btn-main {
    font-family: 'Nunito Sans', sans-serif !important;
    width: auto;
    height: 35px;
    background-color: #158422;
    color: #fff;
    border-radius: 12px !important;
    line-height: 1.3;
}
.btn-main:hover {
    width: auto;
    height: 35px;
    background-color: #0c5415;
    color: #fff;
    border-radius: 12px;
    line-height: 1.3;
}

.btn-outline-main {
    font-family: 'Nunito Sans', sans-serif !important;
    width: auto;
    height: 35px;
    background-color: transparent;
    color: #158422;
    border: 1px solid #158422;
    border-radius: 12px !important;
    line-height: 1.3;
}
.btn-outline-main:hover {
    width: auto;
    height: 35px;
    background-color: #158422;
    color: #fff;
    border-radius: 12px;
    line-height: 1.3;
}.list-autocomplete {

     padding:10px; 
}
.list-autocomplete .dropdown-item{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}
.dropdown-menu .blas{
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}
.list-autocomplete em { font-style:normal; background-color:#e1f2f9; }

.hasNoResults { color:#aaa; }
.hasNoResults { display:block; padding:30px 15px; }
.hasNoResults {  color:#aaa; }

.dropdown-menu { 
    padding:0; 
    width: 600px;
    margin-top:20px
}
.dropdown-item { line-height:10px; }
.dropdown-menu hr { margin:0; }

.form-search {
    width:600px;
}
.dropdown .jAuto{
    font-family: 'Nunito Sans', sans-serif !important;
    height: 35px;
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
}
.dropdown .input-group-text{
    border-right: none;
    background: transparent;
    height: 35px;
    font-size: 12px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}
.dropdown .bl{
    display: flex;
    align-items: center;
    border-top:1px solid #b7b7b7 ;
    border-bottom:1px solid #b7b7b7 ;
    border-right:1px solid #b7b7b7 ;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
}.btn-classic-up{
    background:transparent !important;
    color: #aaa !important;
    box-shadow: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 1px solid #b7b7b7;
    border-left: none;
    border-top-right-radius:12px ;
    border-bottom-right-radius:12px;
    height: 35px !important;
}
.btn-classic-down{
    background:transparent !important;
    color: #aaa !important;
    box-shadow: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 1px solid #b7b7b7;
    border-right: none;
    border-top-left-radius:12px ;
    border-bottom-left-radius:12px;
    height: 35px !important;
}
.custom-qty input{
    border-left: none;
    border-right: none;
    display:inline-block;
    width: 5% !important;
    height: 35px;
    text-align:center !important;
}
@media only screen and (max-width: 800px) {
    .form-search {
        width:100% !important;
    }
    .dropdown-menu { 
        padding:0; 
        width: 100% !important;
        margin-top:20px
    }
    #category-list{
        display: none !important;
    }
    .title{
        font-size: 16px;
    }
    .card-product img{
        height: 190px;
    }
    .card-product h5{
        font-size: 12px;
    }
    .containerr{
        margin-top: 120px !important;
    }

}


